<div class="container-fluid content-margin">
  <div class="row height100 paddedRow">
    <div class="boxedDiv shadow">
      <div class="row">
        <ul class="nav nav-tabs nav-justified">
          <!-- <li *gcAccessControl="'ACADEMICS_CLASSES'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['classes']">Classes</a>
          </li>
          <li *gcAccessControl="'ACADEMICS_PROMOTIONS'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['promotions']">Promotions</a>
          </li>
          <li *gcAccessControl="'ACADEMICS_ATTENDENCE'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['attendence']">Attendance</a>
          </li>
          <li *gcAccessControl="'ACADEMICS_ATTENDANCE_REPORT'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['attendance-report']">Attendance Report</a>
          </li>
          <li *gcAccessControl="'ACADEMICS_EXAMS'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['exams']">Exams</a>
          </li>
          <li *gcAccessControl="'ACADEMICS_STUDENT_SCORE'" role="presentation" [routerLinkActive]="['active']">
            <a [routerLink]="['student_score']">Student Score</a>
          </li> -->
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
